
body{
  font-family: 'Poppins', sans-serif;
} 
header{
    font-family: 'Poppins', sans-serif;
    font-family: 64px;
    font-weight: medium 500;
    font-style: normal;
    text-align: left 100px;

}